body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}
header img {
  height: 50px;
}

header nav {
  display: inline-block;
  padding-right: 10px;
  text-decoration: underline;
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.Main-container {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

.missions {
  height: 700px;
  padding-top: 69px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}
.mission-content {
  background-color: black;
  width: 100%;
  margin: auto;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

.monthly-teas {
  height: 700px;
  width: 1000px;
  padding-top: 69px;
  margin: auto;
}

.monthly {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teas {
  padding: 5px;
}

.teas img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.teas span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.location {
  height: 500px;
  width: 1100px;
  padding-top: 69px;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.container-locations {
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px 40px;
}

.locations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 300px;
  background-color: black;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
}

.contact {
  display: block;
  height: 200px;
}

footer {
  text-align: left;
  padding: 20px;
}
